@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ::-webkit-scrollbar {
    display: none;
} */

:root{
    --color-preto:#000;
    --fundo-particula:#141414; 
    --btn-home-color: #fff;
    --color-slider: #505050;
    --color-rosa:#AA7AB6;
    --color-roxo: #775480;
    --color-azul: rgb(0, 113, 165);
    --color-azul-escuro: rgb(0, 81, 119);
    --color-branco: #fff;
    --color-cinza: #181818; 
}

/* Alterar Tema */
[data-theme="dark"] {
    --color-slider: #775480;
    --color-preto: #fff;
    --fundo-particula:rgb(255, 255, 255); 
    --color-branco:rgb(0, 0, 0);
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--fundo-particula); 
    color: var(--color-branco);
    font-family: 'Poppins', sans-serif;
}

canvas{ 
    display: block; 
    vertical-align: bottom;
} 
 /* ---- particles.js container ---- */ 
 #particles-js{
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh; 
    background-color: var(--fundo-particula); 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
} 

.container{
  justify-content: center;
    display: flex;
    flex-direction: column;
}

.nav-bg{
  z-index: 2;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  top:100%;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  background-color: var(--color-rosa);
  opacity: 100%;
}

nav{ 
    z-index: 3;
    margin-top: 7px;
    right: 15%; 
    top:0;
    position: fixed;
    display: flex;
}

.logo{
  transition: .4s;
  margin-left: 20px;
  position: fixed;
  left: 0;
  color: var(--color-preto);
}

#menu-h ul{
    background-color: none;
    list-style-type: none;
}

#menu-h ul li{ 
    margin: 10px;
    display: inline;
}

#menu-h ul li a{
    margin-left:10px;
    opacity: 100%;
    transition: 0.7s;
    color:var(--color-preto);
    text-decoration: none;
    display: inline-block;
}

#menu-h ul li a:hover{
    opacity: 50%;
    transition: 0.7s;
}

.alternarTema{  
    margin-top:45px;
    margin-left: 20px;
    top: 0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(153, 153, 153);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-slider);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--color-rosa);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-rosa);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.linha-horizontal {
    opacity: 65%;
    margin-top: 10px;
    width: 100%;
    border: 1px solid var(--color-branco );
}

.home{
    display: flex;
}

.textos-home{
    z-index: -1;
    margin-top: 70px;
    margin-left: 20px;
}

.title{
    font-size: 25px;
    margin-top: -35px;
    margin-left: 5px;
}

.span-name{
    font-size: 45px;
    color: var(--color-rosa);
}

.fa-blink{
    font-size: 40px;
}

.sub-title{
    font-size: 25px;
    margin-left: 10px;
}

.front-end-text {
    font-size:25px;
    -webkit-animation: front-end-text 15s infinite alternate;
  }
  
  @-webkit-keyframes front-end-text {
    0% {
      color: var(--color-azul);
    }
    10% {
      color:var(--color-rosa);
    }
    20% {
      color: var(--color-azul);
    }
    30% {
      color:var(--color-rosa);
    }
    40% {
      color:var(--color-azul);
    }
    50% {
      color:var(--color-rosa);
    }

    60%{
        color:var(--color-azul)
    }
    
    70%{
        color:var(--color-rosa)
    }

    80%{
        color: var(--color-azul);
    }

    90%{
        color:var(--color-rosa)
    }

    100% {
      color: var(--color-roxo);
    }
  }

@keyframes fa-blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

.fa-blink{
    -webkit-animation: fa-blink .75s linear infinite;
   -moz-animation: fa-blink .75s linear infinite;
   -ms-animation: fa-blink .75s linear infinite;
   -o-animation: fa-blink .75s linear infinite;
   animation: fa-blink .75s linear infinite;
}

.redes-sociais{
    margin-top: 20px;
    margin-left: 30px;
}

.btn-github{
    margin-left: 10px;
    transition: .5s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--color-branco);
    background-color: transparent;
    width: 100px;
    border: 1px solid var(--color-rosa);
    border-radius: 10px;
}

.btn-github:hover{
    transition: .5s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--color-branco);
}

.btn-linkedin{
    transition: .5s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--color-branco);
    background-color: transparent;
    width: 100px;
    border: 1px solid var(--color-azul);
    border-radius: 10px;
}

.btn-linkedin:hover{
    transition: .5s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--color-branco);
}

#icon-github, #icon-linkedin{
  margin-top: 3px;
  margin-right: 3px;
}

.icon-color {
    color: var(--color-branco);
}

.sobre-mim{
    border-radius: 10px;
    margin: 20px;
    margin-top: 30px;
}

.title-sobre{
    text-align: center;
    margin: 10px;
    color: var(--color-rosa);
}

.subtitle-sobre{
    color: var(--color-branco);
}

.a-tio, .a-codepen, .a-alura{
    text-decoration: none;
    color: var(--color-rosa);
}

.a-tio:hover, .a-codepen:hover, .a-alura:hover{
    text-decoration:underline;
}

.title-projetos{
    text-align: center;
    margin: 10px;
    color: var(--color-rosa);
}

/*#endregion*/

/*#region projetos*/

.projetos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  border-radius: 10px;
  background-color: var(--color-branco);
  transition: .7s;
  color: var(--color-preto);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card:hover{
  transform: translateX(2px) scale(1.05);
  transition: .7s;
}

.card img{
  width: 300px;
  border-radius: 10px 10px 0px 0px;
}

.card .title-cards{
  text-align: center; 
  color: var(--color-rosa);
  margin: 10px; 
  border: 2px solid var(--color-rosa);
  border-radius: 10px;
}

.subtitle-cards{
  padding: 10px;
  text-align: center;
}

.icon-card{
  width: 100%;
  padding: 0 5px;
  justify-content: space-between;
  font-size: 25px;
  display: flex;
}

.icon-card-a{
  margin-right: 10px;
  text-decoration: none;
  color: var(--color-rosa);
}

#icon-html{
  color: #F75421;
}

#icon-css{
  color: #006DB4;
}

#icon-js{
  color: #DFC12E;
}

#icon-boot{
  color: #8512F7;
}

.contato{
  text-align: center;
}

.title-contato{
  color: var(--color-rosa);
}

/* Responsividade 2120 */
@media (min-width: 2120px ){
    body{
      max-width: 2120px;
    }

    .alternarTema{
        margin-top: 10px;
    }

    .switch {
        width: 80px;
        height: 40px;
    }

    .slider:before{
        position: absolute;
        content: "";
        height: 30px;
        width: 30px;
        left: 10px;
        bottom: 5px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(33px);
        -ms-transform: translateX(33px);
        transform: translateX(33px);
      }

      .span-name,.fa-blink{
        font-size: 80px;
      }

      .title, .sub-title, .front-end-text{
        font-size:60px;
      }

        .btn-linkedin{
        border: 2px solid var(--color-azul);
        border-radius: 35px;
        font-size: 35px;
        width: 200px;
        height: 80px;
      }

      .btn-github{
        border: 2px solid var(--color-rosa);
        margin-left: 20px;
        border-radius: 35px;
        font-size: 35px;
        width: 200px;
        height: 80px;
      }

      .btn-github:hover ,.btn-linkedin:hover{
        border: 2px solid var(--color-branco);
      }

      .title-sobre{
        font-size: 60px;
      }

      .subtitle-sobre{
        font-size: 30px;
      }
}

/* Resoinsividade card */
@media(max-width: 1350px){
  .cards-contaniner{
    width: 650px;
  }
}

/*#region MEDIA QUERY*/

@media (min-width: 320px){
  nav{
      text-align: center;
      display: flex;
      font-size: .7em;
      white-space: nowrap;
      right: 1%;
  }

  .logo{
    display: none;
  }

  .switch {
      position: relative;
      display: inline-block;
      width: 32px;
      height: 17px;
      margin-right: 4px;
      margin-top: 8px;
    }
    
  .slider:before {
      height: 14px;
      width: 14px;
      left: 2px;
      bottom: 2px;
  }
    
  input:checked + .slider:before {
      -webkit-transform: translateX(14px);
      -ms-transform: translateX(14px);
      transform: translateX(14px);
  }

}

@media (min-width: 375px){
  nav{
      font-size: .9em;
  }

  .switch {
      position: relative;
      display: inline-block;
      width: 35px;
      height: 20px;
      margin-right: 3px;
      margin-top: 12px;
    }
    
  .slider:before {
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
  }
    
  input:checked + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
  }
}

@media (min-width: 425px){
  nav{
      font-size: 1em;
      text-align: center;
      justify-content: center;

  }

  .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 22px;
      margin-right: 4px;
      margin-top: 8px;
    }
    
  .slider:before {
      height: 18px;
      width: 18px;
      left: 2px;
      bottom: 2px;
  }
    
  input:checked + .slider:before {
      -webkit-transform: translateX(18px);
      -ms-transform: translateX(18px);
      transform: translateX(18px);
  }
}

@media (min-width: 600px){
  nav{
      font-size: 1em;
      right: 0;
  }

  .logo{
    display: block;
  }
}

@media (min-width: 880px){
  nav{
      font-size: 1em;
      right: 15%;
  }

}