@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ::-webkit-scrollbar {
    display: none;
} */

:root{
    --color-preto:#000;
    --fundo-particula:#141414; 
    --btn-home-color: #fff;
    --color-gitbtn: rgb(118, 84, 146);
    --color-slider: #FF4500;
    --color-laranja:#FF4500;
    --color-laranja-escuro: #772000;
    --color-azul: rgb(0, 113, 165);
    --color-azul-escuro: rgb(0, 81, 119);
    --color-branco: #fff;
    --color-cinza: #181818; 
}

/* Alterar Tema */
[data-theme="dark"] {
    --color-slider: rgb(0, 0, 0);
    --color-preto: #fff;
    --fundo-particula:rgb(255, 255, 255); 
    --color-branco:rgb(0, 0, 0);
}

*{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--fundo-particula); 
    color: var(--color-branco);
    font-family: 'Poppins', sans-serif;
}

canvas{ 
    display: block; 
    vertical-align: bottom;
} 
 /* ---- particles.js container ---- */ 
 #particles-js{
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh; 
    background-color: var(--fundo-particula); 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
} 

.container{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

header{
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--color-laranja);
  justify-content: space-between;
  display: flex;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

header nav{ 
    width: 100%;
}

header nav ul{
    margin-right: 20px;
    width: 100%;
    display: flex;  
    justify-content: end;
    list-style-type: none;
}

header p{
  margin-left: 10px;
  color: #fff;
}

header nav ul li{ 
  margin-left: 10px;
}

header nav ul li a{
    margin-left:10px;
    opacity: 100%;
    transition: 0.7s;
    color:#fff;
    text-decoration: none;
}

header nav ul li a:hover{
    opacity: 50%;
    transition: 0.7s;
}

.alternarTema{  
  margin-left: 20px;
  margin-bottom: 3px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-slider);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #fff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-laranja);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.home{
    display: flex;
}

.textos-home{
    z-index: -1;
    margin-top: 100px;
    margin-left: 20px;
}

.title{
    font-size: 25px;
    margin-top: -35px;
    margin-left: 5px;
}

.span-name{
    font-size: 45px;
    color: var(--color-laranja);
}

.fa-blink{
    font-size: 40px;
}

.sub-title{
    font-size: 25px;
    margin-left: 10px;
}

.front-end-text {
    font-size:25px;
    -webkit-animation: front-end-text 15s infinite alternate;
  }
  
  @-webkit-keyframes front-end-text {
    0% {
      color: var(--color-branco)
    }
    10% {
      color:var(--color-laranja);
    }
    20% {
      color: var(--color-branco)
    }
    30% {
      color:var(--color-laranja);
    }
    40% {
      color:var(--color-branco)
    }
    50% {
      color:var(--color-laranja);
    }

    60%{
        color:var(--color-branco)    
    }
    
    70%{
        color:var(--color-laranja)
    }

    80%{
        color: var(--color-branco)
    }

    90%{
        color:var(--color-laranja)
    }

    100% {
      color: var(--color-branco)
    }
  }

@keyframes fa-blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

.fa-blink{
    -webkit-animation: fa-blink .75s linear infinite;
   -moz-animation: fa-blink .75s linear infinite;
   -ms-animation: fa-blink .75s linear infinite;
   -o-animation: fa-blink .75s linear infinite;
   animation: fa-blink .75s linear infinite;
}

.redes-sociais{
    margin-top: 20px;
    margin-left: 30px;
}

.btn-github{
    margin-left: 10px;
    transition: .5s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--color-branco);
    background-color: transparent;
    width: 100px;
    border: 1px solid var(--color-gitbtn);
    border-radius: 10px;
}

.btn-github:hover{
    transition: .5s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--color-branco);
}

.btn-linkedin{
    transition: .5s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--color-branco);
    background-color: transparent;
    width: 100px;
    border: 1px solid var(--color-azul);
    border-radius: 10px;
}

.btn-linkedin:hover{
    transition: .5s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--color-branco);
}

#icon-github, #icon-linkedin{
  margin-top: 3px;
  margin-right: 3px;
}

.icon-color {
    color: var(--color-branco);
}

.sobre-mim{
    border-radius: 10px;
    margin: 20px;
    margin-top: 30px;
}

.title-sobre{
    text-align: center;
    margin: 10px;
    color: var(--color-laranja);
}

.subtitle-sobre{
    color: var(--color-branco);
}

.a-tio, .a-codepen, .a-alura{
    text-decoration: none;
    color: var(--color-laranja);
}

.a-tio:hover, .a-codepen:hover, .a-alura:hover{
    text-decoration:underline;
}

.title-projetos{
    text-align: center;
    margin: 10px;
    color: var(--color-laranja);
}

/*#endregion*/

/*#region projetos*/

.projetos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  border-radius: 10px;
  background-color: var(--color-branco);
  transition: .7s;
  color: var(--color-preto);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card:hover{
  transform: translateX(2px) scale(1.05);
  transition: .7s;
}

.card img{
  width: 300px;
  border-radius: 10px 10px 0px 0px;
}

.card .title-cards{
  text-align: center; 
  color: var(--color-laranja);
  margin: 10px; 
  border: 2px solid var(--color-laranja);
  border-radius: 10px;
}

.subtitle-cards{
  padding: 10px;
  text-align: center;
}

.icon-card{
  width: 100%;
  padding: 0 5px;
  justify-content: space-between;
  font-size: 25px;
  display: flex;
}

.icon-card-a{
  margin-right: 10px;
  text-decoration: none;
  color: var(--color-preto);
}

.icon-html{
  color: #F75421;
}

.icon-css{
  color: #006DB4;
}

.icon-js{
  color: #DFC12E;
}

.icon-boot{
  color: #8512F7;
}

.contato{
  text-align: center;
}

.title-contato{
  color: var(--color-laranja);
}

/*#region MEDIA QUERY*/

@media (max-width: 320px){


  header p{
    margin-left: 2px;
    font-size: 0.7em;
  }

  header nav ul li{
    font-size: 0.5em;
    margin: 2px;
  }

  .alternarTema{
    margin-right: 2px;
    margin-top: 15px;
  }

  .switch {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 12px;
    }
    
  .slider:before {
      height: 10px;
      width: 10px;
      left: 1px;
      bottom: 1px;
  }
    
  input:checked + .slider:before {
      -webkit-transform: translateX(8px);
      -ms-transform: translateX(8px);
      transform: translateX(8px);
  }

  .title, .span-name, .fa-blink{
    font-size: 1.5em;
  }

  .sub-title{
    font-size: 1.2em;
  }
}

@media (min-width: 375px){
  header p{
    margin-left: 2px;
    font-size: 0.8em;
  }

  header nav ul li{
    font-size: 0.6em;
    margin: 5px;
  }

  .alternarTema{
    margin-right: 2px;
    margin-top: 15px;
  }

  .switch {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 12px;
    }
    
  .slider:before {
      height: 10px;
      width: 10px;
      left: 1px;
      bottom: 1px;
  }
    
  input:checked + .slider:before {
      -webkit-transform: translateX(8px);
      -ms-transform: translateX(8px);
      transform: translateX(8px);
  }

  .title, .span-name, .fa-blink{
    font-size: 1.7em;
  }

  .sub-title{
    font-size: 1.6em;
  }
}

@media (min-width: 425px){

  header p{
    margin-left: 2px;
    font-size: 0.8em;
  }

  header nav ul li{
    font-size: 0.7em;
    margin: 5px;
  }

  .alternarTema{
    margin-right: 2px;
    margin-top: 15px;
  }

  .switch {
      position: relative;
      display: inline-block;
      width: 25px;
      height: 15px;
    }
    
  .slider:before {
      height: 13px;
      width: 13px;
      left: 2px;
      bottom: 1px;
  }
    
  input:checked + .slider:before {
      -webkit-transform: translateX(8px);
      -ms-transform: translateX(8px);
      transform: translateX(8px);
  }
}  

@media (min-width: 600px){
  nav{
      font-size: 1em;
  }
}

@media (min-width: 768px){
  header p{
    margin-left: 5px;
    font-size: 1em;
  }

  header nav ul li{
    font-size: 1em;
    margin: 10px;
  }

  .alternarTema{
    margin-right: 5px;
    margin-top: 10px;
  }

  .switch {
      position: relative;
      display: inline-block;
      width: 35px;
      height: 19px;
    }
    
  .slider:before {
      height: 17px;
      width: 17px;
      left: 2px;
      bottom: 1px;
  }
    
  input:checked + .slider:before {
      -webkit-transform: translateX(14px);
      -ms-transform: translateX(14px);
      transform: translateX(14px);
  }
}

@media (min-width: 880px){
  nav{
      font-size: 1em;
  }

}